/* src/pages/BookingSuccessful.css */

.booking-successful-container {
    color: white;
   
    padding: 20px;
    background-color: #1f1469;
    border-radius: 5px;
    text-align: center;
    height: 100vh;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1f1469;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

a:hover {
    background-color: #218838;
}
